{{ define "main" }}

<link rel="stylesheet" href={{ "assets/style-baa-taa-compliance.css" | absURL }}>

<div class="x-main full" role="main">
    <article id="post-1338" class="post-1338 page type-page status-publish hentry no-post-thumbnail">
        <div class="entry-wrap">
            <div class="x-container max width">
                <header class="entry-header">
                    <h1 class="entry-title">BAA &#038; TAA Compliance</h1>
                </header>
                <div class="entry-content content">
                    <div id="cs-content" class="cs-content">
                        <div class="x-section e1338-1 m116-0">
                            <div class="x-row x-container max width e1338-2 m116-3 m116-4">
                                <div class="x-row-inner">
                                    <div class="x-col e1338-3 m116-6 m116-7 m116-8">
                                        <div class="x-text x-text-headline e1338-4 m116-c m116-d">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">BAA &amp; TAA
                                                        Certified Suppliers</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x-content-area e1338-5 m116-f">
                                            <p>Controlled Lighting Corp. is a proud supplier of multiple
                                                <strong>US-based manufacturers</strong> including
                                                <strong>MaxLite</strong>, <strong>Orion Energy Systems, and
                                                    more.</strong>
                                            </p>
                                            <p>We believe in the American-made standard of quality as well
                                                as supporting domestic manufacturing efforts.</p>
                                        </div><a class="x-anchor x-anchor-button e1338-6 m116-g" tabindex="0"
                                            href={{"our-partners" | absURL }}>
                                            <div class="x-anchor-content">
                                                <div class="x-anchor-text"><span
                                                        class="x-anchor-text-primary"><strong>View Our
                                                            Supply Partners</strong></span></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="x-col e1338-7 m116-6 m116-9"><span
                                            class="x-image e1338-8 m116-h m116-i"><img
                                                src={{"assets/wp-content/uploads/2019/12/BAA-Logo.png" | absURL }} width="219"
                                                height="230" alt="Image" loading="lazy"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="x-section e1338-9 m116-0 m116-1">
                            <div class="x-row x-container max width e1338-10 m116-3 m116-5">
                                <div class="x-row-inner">
                                    <div class="x-col e1338-11 m116-6 m116-9"><span
                                            class="x-image e1338-12 m116-h m116-i"><img
                                                src={{"assets/wp-content/uploads/2020/05/BAA-and-ARRA.jpg" | absURL }} width="257"
                                                height="166" alt="Image" loading="lazy"></span>
                                    </div>
                                    <div class="x-col e1338-13 m116-6 m116-7 m116-a">
                                        <div class="x-text x-text-headline e1338-14 m116-c m116-e">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">What does BAA
                                                        Compliance mean?</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x-content-area e1338-15 m116-f">
                                            <p><span style="color: #ffffff;">The Buy American Act of 1933
                                                    serves to create and preserve jobs for U.S. workers by
                                                    establishing a preference for the federal government to
                                                    buy domestic, American-made products.</span></p>
                                        </div>
                                        <div class="x-text x-text-headline e1338-16 m116-c m116-e">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">What does TAA
                                                        Compliance mean?</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x-content-area e1338-17 m116-f">
                                            <p><span style="color: #ffffff;">The Trade Agreement Act of 1979
                                                    serves&nbsp; to foster the growth of a fair and open
                                                    trading system. TAA compliance requires that the U.S.
                                                    Government acquires only US-made or "designated TAA
                                                    compliant country" end products.&nbsp;</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x-section e1338-18 m116-0">
                            <div class="x-row x-container max width e1338-19 m116-3 m116-4">
                                <div class="x-row-inner">
                                    <div class="x-col e1338-20 m116-6 m116-7 m116-8">
                                        <div class="x-text x-text-headline e1338-21 m116-c m116-d">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">Service Disabled
                                                        Veteran Owned Small Business</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="x-col e1338-22 m116-6 m116-9"><span
                                            class="x-image e1338-23 m116-h m116-j"><img
                                                src={{"assets/wp-content/uploads/2020/06/sdvosb.jpg" | absURL }} width="450" height="450"
                                                alt="Image" loading="lazy"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="x-section e1338-24 m116-0">
                            <div class="x-row x-container max width e1338-25 m116-3 m116-4">
                                <div class="x-row-inner">
                                    <div class="x-col e1338-26 m116-6 m116-7 m116-8">
                                        <div class="x-text x-text-headline e1338-27 m116-c m116-d">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">New York State
                                                        Certified SDVOSB</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="x-col e1338-28 m116-6 m116-9 m116-b"><span
                                            class="x-image e1338-29 m116-h m116-j"><img
                                                src={{"assets/wp-content/uploads/2022/02/NYS-Cert.png" | absURL }} width="439"
                                                height="339" alt="Image" loading="lazy"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="x-section e1338-30 m116-0 m116-2">
                            <div class="x-row x-container max width e1338-31 m116-3 m116-5">
                                <div class="x-row-inner">
                                    <div class="x-col e1338-32 m116-6 m116-9"><span
                                            class="x-image e1338-33 m116-h m116-i"><img
                                                src={{"assets/wp-content/uploads/2019/12/Hospital-and-Nursing-Home-Circadian-LED-Installations-p-500.png" | absURL }}
                                                width="500" height="333" alt="Image" loading="lazy"></span>
                                    </div>
                                    <div class="x-col e1338-34 m116-6 m116-7 m116-a">
                                        <div class="x-text x-text-headline e1338-35 m116-c m116-d">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">Learn More</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x-content-area e1338-36 m116-f">
                                            <p>Call Controlled Lighting Corp. at <strong>(415)
                                                    935-1346</strong> today to learn more about how our BAA
                                                certified suppliers can deliver affordable, flexible, and
                                                superior LED lighting and IoT solutions to both Federal and
                                                State facilities.</p>
                                        </div><a class="x-anchor x-anchor-button e1338-37 m116-g" tabindex="0"
                                            href={{"contact-us" | absURL }}>
                                            <div class="x-anchor-content">
                                                <div class="x-anchor-text"><span
                                                        class="x-anchor-text-primary"><strong>Contact
                                                            Us</strong></span></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
{{ end }}