{{ define "main" }}

<link rel="stylesheet" href={{ "assets/style-contact.css" | absURL }}>

<div class="x-main full" role="main">
    <article id="post-270" class="post-270 page type-page status-publish hentry no-post-thumbnail">
        <div class="entry-wrap">
            <div class="x-container max width">
                <header class="entry-header">
                    <h1 class="entry-title">Contact Us</h1>
                </header>
                <div class="entry-content content">
                    <div id="cs-content" class="cs-content">
                        <div class="x-section e270-1 m7i-0">
                            <div class="x-row x-container max width e270-2 m7i-1">
                                <div class="x-row-inner">
                                    <div class="x-col e270-3 m7i-2 m7i-3">
                                        <div class="x-text x-text-headline e270-4 m7i-5">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">Call Us: (415)
                                                        935-1346</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div role="form" class="wpcf7" id="wpcf7-f6-p270-o1" lang="en-US" dir="ltr">
                                            <div class="screen-reader-response">
                                                <p role="status" aria-live="polite" aria-atomic="true"></p>
                                                <ul></ul>
                                            </div>
                                           <p><strong>Controlled Lighting Corp HQ</strong><br />17 Parrott
                                                Court<br />San Mateo, CA 94402<br /><a
                                                    href="mailto:info@controlledlighting.net">info@controlledlighting.net</a><br />Phone:
                                                (415)-935-1346<br />Fax: 831-325-0110</p>
                                        </div>
                                    </div>
                                    <div class="x-col e270-7 m7i-2 m7i-4">
                                        <div class="x-content-area e270-8 m7i-6">
                                            
                                            <p><strong>John Regan</strong><br />Hilo, HI 96720<br /><a
                                                    href="mailto:jregan@controlledlighting.net">jregan@controlledlighting.net</a><br />HI:
                                                (808) 300-7565<br />CA: (831) 818-8811</p>
                                            <p><strong>Carl Napolitano</strong><br />Charlotte, NC
                                                28278<br /><a
                                                    href="mailto:cnapolitano@controlledlighting.net">cnapolitano@controlledlighting.net</a><br />(914)
                                                806-6684</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

{{ end }}