{{ define "main" }}

<link rel="stylesheet" href={{ "assets/style-resources.css" | absURL }}>

<div class="x-main full" role="main">
    <article id="post-385" class="post-385 page type-page status-publish hentry no-post-thumbnail">
        <div class="entry-wrap">
            <div class="x-container max width">
                <header class="entry-header">
                    <h1 class="entry-title">Resources</h1>
                </header>

                <div class="entry-content content">
                    <div id="cs-content" class="cs-content">
                        <div class="x-section e385-1 map-0">
                            <div class="x-row x-container max width e385-2 map-1">
                                <div class="x-row-inner">
                                    <div class="x-col e385-3 map-2">
                                        <div class="x-text x-text-headline e385-4 map-3">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">MaxLite</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x-content-area e385-5 map-4">
                                            <p><a href={{"maxlite/c-max-rf-lighting-controls/#cmaxvid" | absURL }}><strong>C-Max
                                                        RF Lighting Controls Overview (Video)</strong></a>
                                            </p>
                                        </div>
                                        <div class="x-content-area e385-6 map-4">
                                            <p><a href={{"maxlite/mseries/#mseriesvid" | absURL }}><strong>M
                                                        Series Outdoor Lighting Overview
                                                        (Video)</strong></a></p>
                                        </div>
                                        <div class="x-content-area e385-7 map-4">
                                            <p><strong><a href={{"maxlite/rcf-series/#rcfseriesvid" | absURL }}>RCF
                                                        Series Universal Commercial Downlight Overview
                                                        (Video)</a></strong></p>
                                        </div>
                                    </div>
                                    <div class="x-col e385-8 map-2">
                                        <div class="x-text x-text-headline e385-9 map-3">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">Cooper Lighting
                                                        Solutions</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x-content-area e385-10 map-4">
                                            <p><strong><a
                                                        href={{"trellix-smart-spaces-iot-system/#trellix-overview" | absURL }}>Trellix
                                                        Overview Presentation (Video)</a></strong></p>
                                        </div>
                                        <div class="x-content-area e385-11 map-4">
                                            <p><strong><a
                                                        href={{"trellix-smart-spaces-iot-system/#healthcareROIvid" | absURL }}>Trellix
                                                        Healthcare ROI Presentation (Video)</a></strong></p>
                                        </div>
                                        <div class="x-content-area e385-12 map-4">
                                            <p><strong><a
                                                        href={{"trellix-smart-spaces-iot-system/#healthcareROI" | absURL }}>Trellix
                                                        Healthcare ROI (Calculator)</a></strong></p>
                                        </div>
                                        <div class="x-content-area e385-13 map-4">
                                            <p><strong><a href={{"cooper-guv" | absURL }}>What is Upper Air
                                                        GUV? (Video)</a></strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

{{ end }}