{{ define "main" }}


<link rel="stylesheet" href={{ "assets/products/style-orion-apollo-vtod1.css" | absURL }}>

<div class="x-main full" role="main">
    <article id="post-1119"
        class="post-1119 x-portfolio type-x-portfolio status-publish hentry portfolio-tag-baa-or-taa-compliant portfolio-category-orion-energy-solutions x-portfolio-e7c7d6af5f9fa6139032b5f64fb60237 no-post-thumbnail">
        <div class="entry-wrap">
            <div class="x-container max width">

                <header class="entry-header">
                    <h1 class="entry-title">APOLLO® LED VaporTight Wide Body | VTOD1</h1>
                </header>


                <div class="entry-featured">
                </div>

                <div class="entry-content content">
                    <div id="cs-content" class="cs-content">
                        <div class="x-section e1119-1 mv3-0">
                            <div class="x-row e1119-2 mv3-1 mv3-2">
                                <div class="x-row-inner">
                                    <div class="x-col e1119-3 mv3-4 mv3-5 mv3-6">
                                        <div class="x-text x-text-headline e1119-4 mv3-9 mv3-a">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">Details</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x-content-area e1119-5 mv3-d">
                                            <ul>
                                                <li>Ideal for food processing, breweries, industrial
                                                    facilities, car washes, and commercial kitchens where
                                                    the application requires or waterproof and/or dust proof
                                                    fixture</li>
                                                <li>UL Wet Location; IP66, IP67, with sensor IP65; High
                                                    Pressure Washdown up to 1500PSI, NEMA 4X Housing</li>
                                                <li>TVSS and Wet Location sensor options available</li>
                                                <li>Stainless steel 316 Marine Grade latches with stainless
                                                    steel mounting clips come standard with fixture</li>
                                            </ul>
                                            <p><em>Made-to-order in the USA with 2-6 weeks lead time.</em>
                                            </p>
                                        </div>
                                        <div class="x-text x-text-headline e1119-6 mv3-9 mv3-a">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">Specifications
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x-content-area e1119-7 mv3-d">
                                            <p><em>Browse the specs of each product variant using the tabs
                                                    below:</em></p>
                                        </div>
                                        <div class="x-tabs e1119-8 mv3-e" data-x-element="tabs">
                                            <div class="x-tabs-list">
                                                <ul role="tablist">
                                                    <li role="presentation"><button id="tab-e1119-9"
                                                            class="e1119-9 x-active" role="tab" aria-selected="true"
                                                            aria-controls="panel-e1119-9" data-x-toggle="tab"
                                                            data-x-toggleable="tab-item-e1119-9"
                                                            data-x-toggle-group="tab-group-e1119-8"><span>4
                                                                Ft</span></button></li>
                                                    <li role="presentation"><button id="tab-e1119-10" class="e1119-10"
                                                            role="tab" aria-selected="false"
                                                            aria-controls="panel-e1119-10" data-x-toggle="tab"
                                                            data-x-toggleable="tab-item-e1119-10"
                                                            data-x-toggle-group="tab-group-e1119-8"><span>8
                                                                Ft</span></button></li>
                                                </ul>
                                            </div>
                                            <div class="x-tabs-panels">
                                                <div id="panel-e1119-9" class="x-tabs-panel e1119-9 x-active"
                                                    role="tabpanel" aria-labelledby="tab-e1119-9" aria-hidden="false"
                                                    data-x-toggleable="tab-item-e1119-9">
                                                    <h5><span style="text-decoration: underline;"><strong>4
                                                                ft</strong></span></h5>
                                                    <ul>
                                                        <li><strong>CCT: 5000 K<br />
                                                            </strong></li>
                                                        <li><strong>Lifetime: 125,000 hr. @L70</strong></li>
                                                        <li><strong>Input Voltage: 120-277 V / 347 V / 480
                                                                V</strong></li>
                                                        <li><strong>0-10V Dimming Available</strong></li>
                                                        <li><strong>10 kA Surge Protection
                                                                Available</strong></li>
                                                    </ul>
                                                </div>
                                                <div id="panel-e1119-10" class="x-tabs-panel e1119-10" role="tabpanel"
                                                    aria-labelledby="tab-e1119-10" aria-hidden="true"
                                                    data-x-toggleable="tab-item-e1119-10">
                                                    <h5><span style="text-decoration: underline;"><strong>8
                                                                ft</strong></span><span
                                                            style="text-decoration: underline;"><strong></strong></span>
                                                    </h5>
                                                    <ul>
                                                        <li><strong>CCT: 5000 K<br />
                                                            </strong></li>
                                                        <li><strong>Lifetime: 125,000 hr. @L70</strong></li>
                                                        <li><strong>Input Voltage: 120-277 V / 347 V / 480
                                                                V</strong></li>
                                                        <li><strong>0-10V Dimming Available</strong></li>
                                                        <li><strong>10 kA Surge Protection
                                                                Available</strong></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x-text x-text-headline e1119-11 mv3-a mv3-b">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">Warranty
                                                        Information</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x-content-area e1119-12 mv3-d">
                                            <p>10 Year Negotiated Manufacturer's Standard Warranty.</p>
                                            <p><a href={{"contact-us" | absURL }}>Contact us</a> for more
                                                information.</p>
                                        </div><a class="x-anchor x-anchor-button e1119-13 mv3-f mv3-g" tabindex="0"
                                            href={{"contact-us" | absURL }} target="_blank">
                                            <div class="x-anchor-content">
                                                <div class="x-anchor-text"><span
                                                        class="x-anchor-text-primary"><strong>Request an
                                                            Estimate</strong></span></div>
                                            </div>
                                        </a><a class="x-anchor x-anchor-button e1119-14 mv3-f mv3-h" tabindex="0"
                                            href={{"orion-energy-systems" | absURL }}>
                                            <div class="x-anchor-content">
                                                <div class="x-anchor-text"><span
                                                        class="x-anchor-text-primary"><strong>Back to
                                                            Products</strong></span></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="x-col e1119-15 mv3-4 mv3-6 mv3-7"><a
                                            class="x-image e1119-16 mv3-i mv3-j mv3-k"
                                            href={{"orion-energy-systems" | absURL }}><img
                                                src={{"assets/wp-content/uploads/2020/05/oriona01.gif" | absURL }} width="677"
                                                height="155" alt="Image" loading="lazy"></a><span
                                            class="x-image e1119-17 mv3-i mv3-j mv3-l"><img
                                                src={{"assets/wp-content/uploads/2020/05/APOLLO_VaporTight-NarrowBody-VTON1.png" | absURL }}
                                                width="499" height="319" alt="Image" loading="lazy"></span>
                                        <div class="x-row x-container max width e1119-18 mv3-1 mv3-3">
                                            <div class="x-row-inner">
                                                <div class="x-col e1119-19 mv3-4 mv3-8"><span
                                                        class="x-image e1119-20 mv3-i mv3-l mv3-m"><img
                                                            src={{"assets/wp-content/uploads/2019/12/dlc_premium_logo.png" | absURL }}
                                                            width="81" height="90.5" alt="Image" loading="lazy"></span>
                                                </div>
                                                <div class="x-col e1119-21 mv3-4 mv3-8"><span
                                                        class="x-image e1119-22 mv3-i mv3-l"><img
                                                            src={{"assets/wp-content/uploads/2019/12/UL.jpg" | absURL }} width="95.5"
                                                            height="78" alt="Image" loading="lazy"></span></div>
                                                <div class="x-col e1119-23 mv3-4 mv3-8"><span
                                                        class="x-image e1119-24 mv3-i mv3-l mv3-n"><img
                                                            src={{"assets/wp-content/uploads/2020/05/UL-Wet-Rated.png" | absURL }}
                                                            width="184.5" height="68" alt="Image" loading="lazy"></span>
                                                </div>
                                            </div>
                                        </div><span class="x-image e1119-25 mv3-i mv3-l"><img
                                                src={{"assets/wp-content/uploads/2020/05/BAA-and-ARRA.jpg" | absURL }} width="128.5"
                                                height="83" alt="Image" loading="lazy"></span>
                                        <div class="x-text x-text-headline e1119-26 mv3-a mv3-c">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">Downloads</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="x-line e1119-27 mv3-o">
                                        </hr>
                                        <ul id="" class="x-ul-icons">
                                            <li id="" class="x-li-icon"><i class="fa-solid fa-arrow-right"></i><a
                                                    href="https://www.dropbox.com/s/dacuvsscbypg4e8/APOLLO_VaporTight-NarrowBody-VTON1.pdf?dl=0"
                                                    title="" target="_blank">Specification Sheet</a></li>
                                            <li id="" class="x-li-icon"><i class="fa-solid fa-arrow-right"></i><a
                                                    href="https://www.dropbox.com/s/eypefv21l0k6bcm/Apollo Vapor Tight VTOD-VTON Sell Sheet.pdf?dl=0"
                                                    title="" target="_blank">Overview Brochure</a></li>
                                        </ul>
                                        <div class="x-text x-text-headline e1119-31 mv3-a mv3-c">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">Contact Us</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="x-line e1119-32 mv3-o">
                                        </hr>
                                        <div class="x-content-area e1119-33 mv3-d">
                                            <p><a
                                                    href="mailto:info@controlledlighting.net"><strong>info@controlledlighting.net</strong></a><br /><strong>Call:
                                                    (415) 935-1346</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="entry-extra">
                    <h2 class="h-extra skills">Tags</h2>
                    <ul class="inline">
                        <li><a href="../../products-tag/baa-or-taa-compliant/index.html"><i class="x-icon-tag"
                                    data-x-icon-s="&#xf02b;"></i> BAA or TAA
                                Compliant</a></li>
                    </ul>
                    <div class="x-entry-share man">
                        <div class="x-share-options">
                            <p>Share this Product</p>
                            <a href="#share" data-x-element="extra"
                                data-x-params="{&quot;type&quot;:&quot;tooltip&quot;,&quot;trigger&quot;:&quot;hover&quot;,&quot;placement&quot;:&quot;bottom&quot;,&quot;title&quot;:&quot;&quot;,&quot;content&quot;:&quot;&quot;}"
                                class="x-share" title="Share on Facebook"
                                onclick="window.open('http://www.facebook.com/sharer.php?u=https%3A%2F%2Fcontrolledlighting.net%2Fproducts%2Forion-apollo-vtod1%2F&amp;t=APOLLO%C2%AE+LED+VaporTight+Wide+Body+%7C+VTOD1', 'popupFacebook', 'width=650, height=270, resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;"><i
                                    class="x-icon-facebook-square" data-x-icon-b="&#xf082;"></i></a><a href="#share"
                                data-x-element="extra"
                                data-x-params="{&quot;type&quot;:&quot;tooltip&quot;,&quot;trigger&quot;:&quot;hover&quot;,&quot;placement&quot;:&quot;bottom&quot;,&quot;title&quot;:&quot;&quot;,&quot;content&quot;:&quot;&quot;}"
                                class="x-share" title="Share on Twitter"
                                onclick="window.open('https://twitter.com/intent/tweet?text=APOLLO%C2%AE+LED+VaporTight+Wide+Body+%7C+VTOD1&amp;url=https%3A%2F%2Fcontrolledlighting.net%2Fproducts%2Forion-apollo-vtod1%2F', 'popupTwitter', 'width=500, height=370, resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;"><i
                                    class="x-icon-twitter-square" data-x-icon-b="&#xf081;"></i></a><a href="#share"
                                data-x-element="extra"
                                data-x-params="{&quot;type&quot;:&quot;tooltip&quot;,&quot;trigger&quot;:&quot;hover&quot;,&quot;placement&quot;:&quot;bottom&quot;,&quot;title&quot;:&quot;&quot;,&quot;content&quot;:&quot;&quot;}"
                                class="x-share" title="Share on Google+"
                                onclick="window.open('https://plus.google.com/share?url=https%3A%2F%2Fcontrolledlighting.net%2Fproducts%2Forion-apollo-vtod1%2F', 'popupGooglePlus', 'width=650, height=226, resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;"><i
                                    class="x-icon-google-plus-square" data-x-icon-b="&#xf0d4;"></i></a><a href="#share"
                                data-x-element="extra"
                                data-x-params="{&quot;type&quot;:&quot;tooltip&quot;,&quot;trigger&quot;:&quot;hover&quot;,&quot;placement&quot;:&quot;bottom&quot;,&quot;title&quot;:&quot;&quot;,&quot;content&quot;:&quot;&quot;}"
                                class="x-share" title="Share on LinkedIn"
                                onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fcontrolledlighting.net%2Fproducts%2Forion-apollo-vtod1%2F&amp;title=APOLLO%C2%AE+LED+VaporTight+Wide+Body+%7C+VTOD1&amp;summary=Details+Ideal+for+food+processing%2C+breweries%2C+industrial+facilities%2C+car+washes%2C+and+commercial+kitchens+where+the+application+requires+or+waterproof+and%2For+dust+proof+fixture+UL+Wet+Location%3B+IP66%2C+IP67%2C+with+sensor+IP65%3B+High+Pressure+Washdown+up+to+1500PSI%2C+NEMA+4X+Housing+TVSS+and+Wet+Location+sensor+options+available+Stainless+steel+316+Marine+Grade+latches+with+stainless+steel+mounting+clips+come+standard+...&amp;source=Controlled+Lighting+Corp.', 'popupLinkedIn', 'width=610, height=480, resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;"><i
                                    class="x-icon-linkedin-square" data-x-icon-b="&#xf08c;"></i></a><a
                                href="mailto:?subject=APOLLO® LED VaporTight Wide Body | VTOD1&amp;body=Hey, thought you might enjoy this! Check it out when you have a chance: https://controlledlighting.net/products/orion-apollo-vtod1/"
                                data-toggle="tooltip" data-placement="bottom" data-trigger="hover" class="x-share email"
                                title="Share via Email"><span><i class="x-icon-envelope-square"
                                        data-x-icon-s="&#xf199;"></i></span></a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </article>
</div>

{{ end }}