{{ define "main" }}


<link rel="stylesheet" href={{ "assets/products/style-vital-vio-ison-LDRMH1.css" | absURL }}>

<div class="x-main full" role="main">

    <article id="post-1328"
        class="post-1328 x-portfolio type-x-portfolio status-publish hentry portfolio-tag-baa-or-taa-compliant portfolio-category-orion-energy-solutions x-portfolio-e7c7d6af5f9fa6139032b5f64fb60237 no-post-thumbnail">
        <div class="entry-wrap">
            <div class="x-container max width">
                <header class="entry-header">
                    <h1 class="entry-title">Vital Vio® Antimicrobial Retrofit | ISON LDRMH1</h1>
                </header>


                <div class="entry-featured">
                </div>

                <div class="entry-content content">
                    <div id="cs-content" class="cs-content">
                        <div class="x-section e1328-1 m10w-0">
                            <div class="x-row e1328-2 m10w-1 m10w-2">
                                <div class="x-row-inner">
                                    <div class="x-col e1328-3 m10w-4 m10w-5 m10w-6">
                                        <div class="x-video embed with-container">
                                            <div class="x-video-inner"><iframe
                                                    src="https://player.vimeo.com/video/410831350" width="640"
                                                    height="360" frameborder="0" allow="autoplay; fullscreen"
                                                    allowfullscreen></iframe>
                                                <p><a href="https://vimeo.com/410831350">A New Class of
                                                        Antimicrobial Light</a> from <a
                                                        href="https://vimeo.com/user16248507">Drawas</a> on
                                                    <a href="https://vimeo.com/">Vimeo</a>.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="x-video embed with-container">
                                            <div class="x-video-inner"><iframe
                                                    src="https://player.vimeo.com/video/444037307" width="640"
                                                    height="360" frameborder="0" allow="autoplay; fullscreen"
                                                    allowfullscreen></iframe>
                                                <p><a href="https://vimeo.com/444037307">LDRMH1
                                                        Presentation</a> from <a
                                                        href="https://vimeo.com/user120190674">Controlled
                                                        Lighting</a> on <a href="https://vimeo.com/">Vimeo</a>.</p>
                                            </div>
                                        </div>
                                        <div class="x-text x-text-headline e1328-6 m10w-9 m10w-a">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">Details</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x-content-area e1328-7 m10w-d">
                                            <p>The ISON&trade; LDRMH1 is a multi-purpose troffer retrofit
                                                designed to upgrade existing lighting troffer fixtures in
                                                Healthcare or other facilities. This technology creates an
                                                inhospitable environment for the growth of bacteria and
                                                other pathogens.</p>
                                            <p><strong>Prevents the growth of:</strong></p>
                                            <ul>
                                                <li><strong>Bacteria</strong></li>
                                                <li><strong>Fungi</strong></li>
                                                <li><strong>Yeast</strong></li>
                                                <li><strong>Mold</strong></li>
                                                <li><strong>Mildew</strong></li>
                                                <li><strong>And Much More (see spec sheet for the full
                                                        list)</strong></li>
                                            </ul>
                                            <p>The Antimicrobial LED spectrum comes in a White Antimicrobial
                                                Light Mode in 4000k 80 CRI that functions as normal LED
                                                fixture allowing for day to day task to be completed while
                                                reducing bacteria.</p>
                                            <p>Use 'Antimicrobial+Light Mode' when personnel are in the room
                                                for continuous antimicrobial action. Or use 'Enhanced
                                                Antimicrobial Mode' when illumination not required. Enhanced
                                                Antimicrobial mode emits a higher dosage of Vital Vio's
                                                antimicrobial wavelengths to maximize antimicrobial
                                                protection. Both modes meet international standards for
                                                continuous and unrestricted use around people.</p>
                                            <p>To add another layer of prevention the LDRMH1 is painted with
                                                Britex&trade; a white highly reflective antimicrobial
                                                coating to suppress growth of bacteria on the surface of the
                                                fixture.</p>
                                            <ul>
                                                <li><strong>BAA &amp; TAA Compliant</strong></li>
                                            </ul>
                                        </div>
                                        <div class="x-text x-text-headline e1328-8 m10w-a m10w-b">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">Warranty
                                                        Information</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x-content-area e1328-9 m10w-d">
                                            <p>Orion ISON class LED fixtures are covered by a 10-year
                                                warranty excluding continuous disinfection white light
                                                option. Antimicrobial protection option is covered by a
                                                5-year warranty. Accessories and individual components are
                                                covered by separate OEM supplier warranties.</p>
                                            <p><a href={{"contact-us" | absURL }}>Contact us</a> for more
                                                information.</p>
                                        </div><a class="x-anchor x-anchor-button e1328-10 m10w-e m10w-f" tabindex="0"
                                            href={{"contact-us" | absURL }}>
                                            <div class="x-anchor-content">
                                                <div class="x-anchor-text"><span
                                                        class="x-anchor-text-primary"><strong>Request an
                                                            Estimate</strong></span></div>
                                            </div>
                                        </a><a class="x-anchor x-anchor-button e1328-11 m10w-e m10w-g" tabindex="0"
                                            href={{"orion-energy-systems" | absURL }}>
                                            <div class="x-anchor-content">
                                                <div class="x-anchor-text"><span
                                                        class="x-anchor-text-primary"><strong>Back to
                                                            Products</strong></span></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="x-col e1328-12 m10w-4 m10w-6 m10w-7"><a
                                            class="x-image e1328-13 m10w-h m10w-i m10w-j m10w-k"
                                            href={{"vital-vio-antimicrobial-led-lighting" | absURL }}><img
                                                src={{"assets/wp-content/uploads/2020/06/vital-vio-logo.png" | absURL }} width="2083"
                                                height="559" alt="Image" loading="lazy"></a><a
                                            class="x-image e1328-14 m10w-h m10w-j m10w-k m10w-l"
                                            href={{"orion-energy-systems" | absURL }}><img
                                                src={{"assets/wp-content/uploads/2020/05/oriona01.gif" | absURL }} width="677"
                                                height="155" alt="Image" loading="lazy"></a><span
                                            class="x-image e1328-15 m10w-h m10w-i m10w-k m10w-m"><img
                                                src={{"assets/wp-content/uploads/2020/07/ISON_LDR_Healthcare-LDRMH-transparent.png" | absURL }}
                                                width="1339" height="787" alt="Image" loading="lazy"></span>
                                        <div class="x-row x-container max width e1328-16 m10w-1 m10w-3">
                                            <div class="x-row-inner">
                                                <div class="x-col e1328-17 m10w-4 m10w-8"><span
                                                        class="x-image e1328-18 m10w-h m10w-n"><img
                                                            src={{"assets/wp-content/uploads/2019/12/UL.jpg" | absURL }} width="95.5"
                                                            height="78" alt="Image" loading="lazy"></span><span
                                                        class="x-image e1328-19 m10w-h m10w-n"><img
                                                            src={{"assets/wp-content/uploads/2020/05/BAA-and-ARRA.jpg" | absURL }}
                                                            width="128.5" height="83" alt="Image" loading="lazy"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="x-text x-text-headline e1328-20 m10w-a m10w-c">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">Downloads</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="x-line e1328-21 m10w-o">
                                        </hr>
                                        <ul id="" class="x-ul-icons">
                                            <li id="" class="x-li-icon"><i class="fa-solid fa-arrow-right"></i><a
                                                    href="https://www.dropbox.com/s/aaz8x868mr5nzmq/ISON_LDR_Healthcare-LDRMH.pdf?dl=0"
                                                    title="" target="_blank">Specification Sheet</a></li>
                                            <li id="" class="x-li-icon"><i class="fa-solid fa-arrow-right"></i><a
                                                    href="https://www.dropbox.com/s/7fr7h1jf1tvx291/Case Studies - The-Efficacy-of-405nm-Visible-Light.pdf?dl=0"
                                                    title="" target="_blank">Vital Vio Case Studies</a></li>
                                        </ul>
                                        <div class="x-text x-text-headline e1328-25 m10w-a m10w-c">
                                            <div class="x-text-content">
                                                <div class="x-text-content-text">
                                                    <h1 class="x-text-content-text-primary">Contact Us</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="x-line e1328-26 m10w-o">
                                        </hr>
                                        <div class="x-content-area e1328-27 m10w-d">
                                            <p><a
                                                    href="mailto:info@controlledlighting.net"><strong>info@controlledlighting.net</strong></a><br /><strong>Call:
                                                    (415) 935-1346</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- <div class="entry-extra">
                    <h2 class="h-extra skills">Tags</h2>
                    <ul class="inline">
                        <li><a href="../../products-tag/baa-or-taa-compliant/index.html"><i class="x-icon-tag"
                                    data-x-icon-s="&#xf02b;"></i> BAA or TAA
                                Compliant</a></li>
                    </ul>
                    <div class="x-entry-share man">
                        <div class="x-share-options">
                            <p>Share this Product</p>
                            <a href="#share" data-x-element="extra"
                                data-x-params="{&quot;type&quot;:&quot;tooltip&quot;,&quot;trigger&quot;:&quot;hover&quot;,&quot;placement&quot;:&quot;bottom&quot;,&quot;title&quot;:&quot;&quot;,&quot;content&quot;:&quot;&quot;}"
                                class="x-share" title="Share on Facebook"
                                onclick="window.open('http://www.facebook.com/sharer.php?u=https%3A%2F%2Fcontrolledlighting.net%2Fproducts%2Fvital-vio-ison-ldrmh1%2F&amp;t=Vital+Vio%C2%AE+Antimicrobial+Retrofit+%7C+ISON+LDRMH1', 'popupFacebook', 'width=650, height=270, resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;"><i
                                    class="fa fa-facebook-square"></i></a><a href="#share"
                                data-x-element="extra"
                                data-x-params="{&quot;type&quot;:&quot;tooltip&quot;,&quot;trigger&quot;:&quot;hover&quot;,&quot;placement&quot;:&quot;bottom&quot;,&quot;title&quot;:&quot;&quot;,&quot;content&quot;:&quot;&quot;}"
                                class="x-share" title="Share on Twitter"
                                onclick="window.open('https://twitter.com/intent/tweet?text=Vital+Vio%C2%AE+Antimicrobial+Retrofit+%7C+ISON+LDRMH1&amp;url=https%3A%2F%2Fcontrolledlighting.net%2Fproducts%2Fvital-vio-ison-ldrmh1%2F', 'popupTwitter', 'width=500, height=370, resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;"><i
                                    class="x-icon-twitter-square" data-x-icon-b="&#xf081;"></i></a><a href="#share"
                                data-x-element="extra"
                                data-x-params="{&quot;type&quot;:&quot;tooltip&quot;,&quot;trigger&quot;:&quot;hover&quot;,&quot;placement&quot;:&quot;bottom&quot;,&quot;title&quot;:&quot;&quot;,&quot;content&quot;:&quot;&quot;}"
                                class="x-share" title="Share on Google+"
                                onclick="window.open('https://plus.google.com/share?url=https%3A%2F%2Fcontrolledlighting.net%2Fproducts%2Fvital-vio-ison-ldrmh1%2F', 'popupGooglePlus', 'width=650, height=226, resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;"><i
                                    class="x-icon-google-plus-square" data-x-icon-b="&#xf0d4;"></i></a><a href="#share"
                                data-x-element="extra"
                                data-x-params="{&quot;type&quot;:&quot;tooltip&quot;,&quot;trigger&quot;:&quot;hover&quot;,&quot;placement&quot;:&quot;bottom&quot;,&quot;title&quot;:&quot;&quot;,&quot;content&quot;:&quot;&quot;}"
                                class="x-share" title="Share on LinkedIn"
                                onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fcontrolledlighting.net%2Fproducts%2Fvital-vio-ison-ldrmh1%2F&amp;title=Vital+Vio%C2%AE+Antimicrobial+Retrofit+%7C+ISON+LDRMH1&amp;summary=A+New+Class+of+Antimicrobial+Light+from+Drawas+on+Vimeo.+LDRMH1+Presentation+from+Controlled+Lighting+on+Vimeo.DetailsThe+ISON%26trade%3B+LDRMH1+is+a+multi-purpose+troffer+retrofit+designed+to+upgrade+existing+lighting+troffer+fixtures+in+Healthcare+or+other+facilities.+This+technology+creates+an+inhospitable+environment+for+the+growth+of+bacteria+and+other+pathogens.+Prevents+the+growth+of%3A+Bacteria+Fungi+Yeast+Mold+Mildew+And+...&amp;source=Controlled+Lighting+Corp.', 'popupLinkedIn', 'width=610, height=480, resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;"><i
                                    class="x-icon-linkedin-square" data-x-icon-b="&#xf08c;"></i></a><a
                                href="mailto:?subject=Vital Vio® Antimicrobial Retrofit | ISON LDRMH1&amp;body=Hey, thought you might enjoy this! Check it out when you have a chance: https://controlledlighting.net/products/vital-vio-ison-ldrmh1/"
                                data-toggle="tooltip" data-placement="bottom" data-trigger="hover" class="x-share email"
                                title="Share via Email"><span><i class="x-icon-envelope-square"
                                        data-x-icon-s="&#xf199;"></i></span></a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </article>
</div>

{{ end }}