img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.wp-block-audio figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-audio figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-code>code {
    font-family: Menlo, Consolas, monaco, monospace;
    color: #1e1e1e;
    padding: .8em 1em;
    border: 1px solid #ddd;
    border-radius: 4px
}

.wp-block-embed figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-embed figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.blocks-gallery-caption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .blocks-gallery-caption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-image figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-image figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-pullquote {
    border-top: 4px solid;
    border-bottom: 4px solid;
    margin-bottom: 1.75em;
    color: currentColor
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
    color: currentColor;
    text-transform: uppercase;
    font-size: .8125em;
    font-style: normal
}

.wp-block-quote {
    border-left: .25em solid;
    margin: 0 0 1.75em;
    padding-left: 1em
}

.wp-block-quote cite,
.wp-block-quote footer {
    color: currentColor;
    font-size: .8125em;
    position: relative;
    font-style: normal
}

.wp-block-quote.has-text-align-right {
    border-left: none;
    border-right: .25em solid;
    padding-left: 0;
    padding-right: 1em
}

.wp-block-quote.has-text-align-center {
    border: none;
    padding-left: 0
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-quote.is-style-plain {
    border: none
}

.wp-block-search .wp-block-search__label {
    font-weight: 700
}

.wp-block-group:where(.has-background) {
    padding: 1.25em 2.375em
}

.wp-block-separator {
    border: none;
    border-bottom: 2px solid;
    margin-left: auto;
    margin-right: auto;
    opacity: .4
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    width: 100px
}

.wp-block-separator.has-background:not(.is-style-dots) {
    border-bottom: none;
    height: 1px
}

.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
    height: 2px
}

.wp-block-table thead {
    border-bottom: 3px solid
}

.wp-block-table tfoot {
    border-top: 3px solid
}

.wp-block-table td,
.wp-block-table th {
    padding: .5em;
    border: 1px solid;
    word-break: normal
}

.wp-block-table figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-table figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-video figcaption {
    color: #555;
    font-size: 13px;
    text-align: center
}

.is-dark-theme .wp-block-video figcaption {
    color: hsla(0, 0%, 100%, .65)
}

.wp-block-template-part.has-background {
    padding: 1.25em 2.375em;
    margin-top: 0;
    margin-bottom: 0
}

body {
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
    --wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
    --wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');
    --wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
    --wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');
    --wp--preset--duotone--midnight: url('#wp-duotone-midnight');
    --wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
    --wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');
    --wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
}

.has-black-color {
    color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-color {
    color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-color {
    color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-color {
    color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-color {
    color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-color {
    color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-color {
    color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-color {
    color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-color {
    color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-color {
    color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-color {
    color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-color {
    color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-background-color {
    background-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-background-color {
    background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-background-color {
    background-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-background-color {
    background-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-background-color {
    background-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-background-color {
    background-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-background-color {
    background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-background-color {
    background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-background-color {
    background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-background-color {
    background-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-border-color {
    border-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-border-color {
    border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-border-color {
    border-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-border-color {
    border-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-border-color {
    border-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-border-color {
    border-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-border-color {
    border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-border-color {
    border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-border-color {
    border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-border-color {
    border-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
    background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
}

.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
    background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
}

.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
}

.has-luminous-vivid-orange-to-vivid-red-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
}

.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
    background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}

.has-cool-to-warm-spectrum-gradient-background {
    background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}

.has-blush-light-purple-gradient-background {
    background: var(--wp--preset--gradient--blush-light-purple) !important;
}

.has-blush-bordeaux-gradient-background {
    background: var(--wp--preset--gradient--blush-bordeaux) !important;
}

.has-luminous-dusk-gradient-background {
    background: var(--wp--preset--gradient--luminous-dusk) !important;
}

.has-pale-ocean-gradient-background {
    background: var(--wp--preset--gradient--pale-ocean) !important;
}

.has-electric-grass-gradient-background {
    background: var(--wp--preset--gradient--electric-grass) !important;
}

.has-midnight-gradient-background {
    background: var(--wp--preset--gradient--midnight) !important;
}

.has-small-font-size {
    font-size: var(--wp--preset--font-size--small) !important;
}

.has-medium-font-size {
    font-size: var(--wp--preset--font-size--medium) !important;
}

.has-large-font-size {
    font-size: var(--wp--preset--font-size--large) !important;
}

.has-x-large-font-size {
    font-size: var(--wp--preset--font-size--x-large) !important;
}

a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
#respond .required,
.x-pagination a:hover,
.x-pagination span.current,
.woocommerce-pagination a:hover,
.woocommerce-pagination span[aria-current],
.widget_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover,
.x-scroll-top:hover,
.x-comment-author a:hover,
.mejs-button button:hover {
    color: rgb(19, 21, 255);
}

a:hover {
    color: rgb(150, 167, 223);
}

a.x-img-thumbnail:hover,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.x-pagination a:hover,
.x-pagination span.current,
.woocommerce-pagination a:hover,
.woocommerce-pagination span[aria-current],
.widget_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover,
.x-scroll-top:hover {
    border-color: rgb(19, 21, 255);
}

.flex-direction-nav a,
.flex-control-nav a:hover,
.flex-control-nav a.flex-active,
.x-dropcap,
.x-skill-bar .bar,
.x-pricing-column.featured h2,
.x-portfolio-filters,
.x-entry-share .x-share:hover,
.widget_price_filter .ui-slider .ui-slider-range,
.mejs-time-current {
    background-color: rgb(19, 21, 255);
}

.x-portfolio-filters:hover {
    background-color: rgb(150, 167, 223);
}

.x-comment-author,
.x-comment-time,
.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-rating label,
.comment-form-comment label {
    font-family: "Lato", sans-serif;
}

.x-comment-time,
.entry-thumb:before,
.p-meta {
    color: rgb(0, 0, 0);
}

.entry-title a:hover,
.x-comment-author,
.x-comment-author a,
.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-rating label,
.comment-form-comment label,
.x-accordion-heading .x-accordion-toggle,
.x-nav-tabs>li>a:hover,
.x-nav-tabs>.active>a,
.x-nav-tabs>.active>a:hover,
.mejs-button button {
    color: rgb(0, 35, 97);
}

.h-comments-title small,
.h-feature-headline span i,
.x-portfolio-filters-menu,
.mejs-time-loaded {
    background-color: rgb(0, 35, 97) !important;
}

@media (min-width:1200px) {
    .x-sidebar {
        width: 250px;
    }

    body.x-sidebar-content-active,
    body[class*="page-template-template-blank"].x-sidebar-content-active.x-blank-template-sidebar-active {
        padding-left: 250px;
    }

    body.x-content-sidebar-active,
    body[class*="page-template-template-blank"].x-content-sidebar-active.x-blank-template-sidebar-active {
        padding-right: 250px;
    }
}

html {
    font-size: 15px;
}

@media (min-width:480px) {
    html {
        font-size: 15px;
    }
}

@media (min-width:767px) {
    html {
        font-size: 15px;
    }
}

@media (min-width:979px) {
    html {
        font-size: 15px;
    }
}

@media (min-width:1200px) {
    html {
        font-size: 15px;
    }
}

body {
    font-style: normal;
    font-weight: 400;
    color: rgb(0, 0, 0);
    background: #f3f3f3 url(../../../207.148.13.149/wp-content/uploads/2019/12/bg-integrity-1.html) center top repeat;
}

.w-b {
    font-weight: 400 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
}

h1,
.h1 {
    letter-spacing: -0.017em;
}

h2,
.h2 {
    letter-spacing: -0.023em;
}

h3,
.h3 {
    letter-spacing: -0.029em;
}

h4,
.h4 {
    letter-spacing: -0.039em;
}

h5,
.h5 {
    letter-spacing: -0.044em;
}

h6,
.h6 {
    letter-spacing: -0.067em;
}

.w-h {
    font-weight: 700 !important;
}

.x-container.width {
    width: 88%;
}

.x-container.max {
    max-width: 1200px;
}

.x-bar-content.x-container.width {
    flex-basis: 88%;
}

.x-main.full {
    float: none;
    display: block;
    width: auto;
}

@media (max-width:978.98px) {

    .x-main.full,
    .x-main.left,
    .x-main.right,
    .x-sidebar.left,
    .x-sidebar.right {
        float: none;
        display: block;
        width: auto !important;
    }
}

.entry-header,
.entry-content {
    font-size: 1rem;
}

body,
input,
button,
select,
textarea {
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a,
blockquote {
    color: rgb(0, 35, 97);
}

.cfc-h-tx {
    color: rgb(0, 35, 97) !important;
}

.cfc-h-bd {
    border-color: rgb(0, 35, 97) !important;
}

.cfc-h-bg {
    background-color: rgb(0, 35, 97) !important;
}

.cfc-b-tx {
    color: rgb(0, 0, 0) !important;
}

.cfc-b-bd {
    border-color: rgb(0, 0, 0) !important;
}

.cfc-b-bg {
    background-color: rgb(0, 0, 0) !important;
}

.x-btn,
.button,
[type="submit"] {
    color: #fff;
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 34, 97);
    margin-bottom: 0.25em;
    text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.25em 0 0 rgb(0, 0, 0), 0 4px 9px rgba(0, 0, 0, 0.75);
    border-radius: 0.25em;
}

.x-btn:hover,
.button:hover,
[type="submit"]:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(57, 56, 48);
    background-color: rgb(231, 230, 224);
    margin-bottom: 0.25em;
    text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.25em 0 0 rgb(147, 143, 120), 0 4px 9px rgba(0, 0, 0, 0.75);
}

.x-btn.x-btn-real,
.x-btn.x-btn-real:hover {
    margin-bottom: 0.25em;
    text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.65);
}

.x-btn.x-btn-real {
    box-shadow: 0 0.25em 0 0 rgb(0, 0, 0), 0 4px 9px rgba(0, 0, 0, 0.75);
}

.x-btn.x-btn-real:hover {
    box-shadow: 0 0.25em 0 0 rgb(147, 143, 120), 0 4px 9px rgba(0, 0, 0, 0.75);
}

.x-btn.x-btn-flat,
.x-btn.x-btn-flat:hover {
    margin-bottom: 0;
    text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.65);
    box-shadow: none;
}

.x-btn.x-btn-transparent,
.x-btn.x-btn-transparent:hover {
    margin-bottom: 0;
    border-width: 3px;
    text-shadow: none;
    text-transform: uppercase;
    background-color: transparent;
    box-shadow: none;
}

.h-widget:before,
.x-flickr-widget .h-widget:before,
.x-dribbble-widget .h-widget:before {
    position: relative;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    speak: none;
}

.h-widget:before {
    padding-right: 0.4em;
    font-family: "fontawesome";
}

.x-flickr-widget .h-widget:before,
.x-dribbble-widget .h-widget:before {
    top: 0.025em;
    padding-right: 0.35em;
    font-family: "foundationsocial";
    font-size: 0.785em;
}

.widget_archive .h-widget:before {
    content: "\f303";
    top: -0.045em;
    font-size: 0.925em;
}

.widget_calendar .h-widget:before {
    content: "\f073";
    top: -0.0825em;
    font-size: 0.85em;
}

.widget_categories .h-widget:before,
.widget_product_categories .h-widget:before {
    content: "\f02e";
    font-size: 0.95em;
}

.widget_nav_menu .h-widget:before,
.widget_layered_nav .h-widget:before {
    content: "\f0c9";
}

.widget_meta .h-widget:before {
    content: "\f0fe";
    top: -0.065em;
    font-size: 0.895em;
}

.widget_pages .h-widget:before {
    font-family: "FontAwesomeRegular";
    content: "\f15c";
    top: -0.065em;
    font-size: 0.85em;
}

.widget_recent_reviews .h-widget:before,
.widget_recent_comments .h-widget:before {
    content: "\f086";
    top: -0.065em;
    font-size: 0.895em;
}

.widget_recent_entries .h-widget:before {
    content: "\f02d";
    top: -0.045em;
    font-size: 0.875em;
}

.widget_rss .h-widget:before {
    content: "\f09e";
    padding-right: 0.2em;
}

.widget_search .h-widget:before,
.widget_product_search .h-widget:before {
    content: "\f0a4";
    top: -0.075em;
    font-size: 0.85em;
}

.widget_tag_cloud .h-widget:before,
.widget_product_tag_cloud .h-widget:before {
    content: "\f02c";
    font-size: 0.925em;
}

.widget_text .h-widget:before {
    content: "\f054";
    padding-right: 0.4em;
    font-size: 0.925em;
}

.x-dribbble-widget .h-widget:before {
    content: "\f009";
}

.x-flickr-widget .h-widget:before {
    content: "\f010";
    padding-right: 0.35em;
}

.widget_best_sellers .h-widget:before {
    content: "\f091";
    top: -0.0975em;
    font-size: 0.815em;
}

.widget_shopping_cart .h-widget:before {
    content: "\f07a";
    top: -0.05em;
    font-size: 0.945em;
}

.widget_products .h-widget:before {
    content: "\f0f2";
    top: -0.05em;
    font-size: 0.945em;
}

.widget_featured_products .h-widget:before {
    content: "\f0a3";
}

.widget_layered_nav_filters .h-widget:before {
    content: "\f046";
    top: 1px;
}

.widget_onsale .h-widget:before {
    content: "\f02b";
    font-size: 0.925em;
}

.widget_price_filter .h-widget:before {
    content: "\f0d6";
    font-size: 1.025em;
}

.widget_random_products .h-widget:before {
    content: "\f074";
    font-size: 0.925em;
}

.widget_recently_viewed_products .h-widget:before {
    content: "\f06e";
}

.widget_recent_products .h-widget:before {
    content: "\f08d";
    top: -0.035em;
    font-size: 0.9em;
}

.widget_top_rated_products .h-widget:before {
    content: "\f075";
    top: -0.145em;
    font-size: 0.885em;
}

.x-navbar .desktop .x-nav>li>a,
.x-navbar .desktop .sub-menu a,
.x-navbar .mobile .x-nav li a {
    color: rgb(0, 0, 0);
}

.x-navbar .desktop .x-nav>li>a:hover,
.x-navbar .desktop .x-nav>.x-active>a,
.x-navbar .desktop .x-nav>.current-menu-item>a,
.x-navbar .desktop .sub-menu a:hover,
.x-navbar .desktop .sub-menu .x-active>a,
.x-navbar .desktop .sub-menu .current-menu-item>a,
.x-navbar .desktop .x-nav .x-megamenu>.sub-menu>li>a,
.x-navbar .mobile .x-nav li>a:hover,
.x-navbar .mobile .x-nav .x-active>a,
.x-navbar .mobile .x-nav .current-menu-item>a {
    color: rgb(0, 34, 97);
}

.x-navbar .desktop .x-nav>li>a {
    height: 90px;
    padding-top: 37px;
}

.x-navbar-fixed-top-active .x-navbar-wrap {
    margin-bottom: 1px;
}

.x-navbar .desktop .x-nav>li ul {
    top: 90px;
}

@media (min-width:1200px) {

    body.x-sidebar-content-active .x-widgetbar,
    body.x-sidebar-content-active .x-navbar-fixed-top,
    body[class*="page-template-template-blank"].x-sidebar-content-active.x-blank-template-sidebar-active .x-widgetbar,
    body[class*="page-template-template-blank"].x-sidebar-content-active.x-blank-template-sidebar-active .x-navbar-fixed-top {
        left: 250px;
    }

    body.x-content-sidebar-active .x-widgetbar,
    body.x-content-sidebar-active .x-navbar-fixed-top,
    body[class*="page-template-template-blank"].x-content-sidebar-active.x-blank-template-sidebar-active .x-widgetbar,
    body[class*="page-template-template-blank"].x-content-sidebar-active.x-blank-template-sidebar-active .x-navbar-fixed-top {
        right: 250px;
    }
}

@media (max-width:979px) {
    .x-navbar-fixed-top-active .x-navbar-wrap {
        margin-bottom: 0;
    }
}

body.x-navbar-fixed-top-active .x-navbar-wrap {
    height: 90px;
}

.x-navbar-inner {
    min-height: 90px;
}

.x-brand {
    margin-top: 7px;
    font-family: "Lato", sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.079em;
    text-transform: uppercase;
    color: #272727;
}

.x-brand:hover,
.x-brand:focus {
    color: #272727;
}

.x-brand img {
    width: calc(400px / 2);
}

.x-navbar .x-nav-wrap .x-nav>li>a {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.x-navbar .desktop .x-nav>li>a {
    font-size: 14px;
}

.x-navbar .desktop .x-nav>li>a:not(.x-btn-navbar-woocommerce) {
    padding-left: 16px;
    padding-right: 16px;
}

.x-navbar .desktop .x-nav>li>a>span {
    padding-right: calc(1.25em - 0.1em);
}

.x-btn-navbar {
    margin-top: 35px;
}

.x-btn-navbar,
.x-btn-navbar.collapsed {
    font-size: 25px;
}

@media (max-width:979px) {
    body.x-navbar-fixed-top-active .x-navbar-wrap {
        height: auto;
    }

    .x-widgetbar {
        left: 0;
        right: 0;
    }
}

@font-face {
    font-family: 'FontAwesomePro';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-solid-900.woff2') format('woff2'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-solid-900.woff') format('woff'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-solid-900.ttf') format('truetype');
}

[data-x-fa-pro-icon] {
    font-family: "FontAwesomePro" !important;
}

[data-x-fa-pro-icon]:before {
    content: attr(data-x-fa-pro-icon);
}

[data-x-icon],
[data-x-icon-o],
[data-x-icon-l],
[data-x-icon-s],
[data-x-icon-b],
[data-x-fa-pro-icon],
[class*="cs-fa-"] {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-x-icon].left,
[data-x-icon-o].left,
[data-x-icon-l].left,
[data-x-icon-s].left,
[data-x-icon-b].left,
[data-x-fa-pro-icon].left,
[class*="cs-fa-"].left {
    margin-right: 0.5em;
}

[data-x-icon].right,
[data-x-icon-o].right,
[data-x-icon-l].right,
[data-x-icon-s].right,
[data-x-icon-b].right,
[data-x-fa-pro-icon].right,
[class*="cs-fa-"].right {
    margin-left: 0.5em;
}

[data-x-icon]:before,
[data-x-icon-o]:before,
[data-x-icon-l]:before,
[data-x-icon-s]:before,
[data-x-icon-b]:before,
[data-x-fa-pro-icon]:before,
[class*="cs-fa-"]:before {
    line-height: 1;
}

@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-solid-900.woff2') format('woff2'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-solid-900.woff') format('woff'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-solid-900.ttf') format('truetype');
}

[data-x-icon],
[data-x-icon-s],
[data-x-icon][class*="cs-fa-"] {
    font-family: "FontAwesome" !important;
    font-weight: 900;
}

[data-x-icon]:before,
[data-x-icon][class*="cs-fa-"]:before {
    content: attr(data-x-icon);
}

[data-x-icon-s]:before {
    content: attr(data-x-icon-s);
}

@font-face {
    font-family: 'FontAwesomeRegular';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-regular-400.woff2') format('woff2'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-regular-400.woff') format('woff'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-regular-400.ttf') format('truetype');
}

@font-face {
    font-family: 'FontAwesomePro';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-regular-400.woff2') format('woff2'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-regular-400.woff') format('woff'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-regular-400.ttf') format('truetype');
}

[data-x-icon-o] {
    font-family: "FontAwesomeRegular" !important;
}

[data-x-icon-o]:before {
    content: attr(data-x-icon-o);
}

@font-face {
    font-family: 'FontAwesomeLight';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-light-300.woff2') format('woff2'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-light-300.woff') format('woff'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-light-300.ttf') format('truetype');
}

@font-face {
    font-family: 'FontAwesomePro';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-light-300.woff2') format('woff2'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-light-300.woff') format('woff'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-light-300.ttf') format('truetype');
}

[data-x-icon-l] {
    font-family: "FontAwesomeLight" !important;
    font-weight: 300;
}

[data-x-icon-l]:before {
    content: attr(data-x-icon-l);
}

@font-face {
    font-family: 'FontAwesomeBrands';
    font-style: normal;
    font-weight: normal;
    font-display: block;
    src: url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-brands-400.woff2') format('woff2'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-brands-400.woff') format('woff'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-brands-400.ttf') format('truetype');
}

[data-x-icon-b] {
    font-family: "FontAwesomeBrands" !important;
}

[data-x-icon-b]:before {
    content: attr(data-x-icon-b);
}

.m10w-0.x-section {
    margin-top: -2.5em;
    margin-right: -2.5em;
    margin-bottom: -2.5em;
    margin-left: -2.5em;
    border: 0;
    padding-top: 45px;
    padding-right: 0px;
    padding-bottom: 45px;
    padding-left: 0px;
    z-index: 1;
}

.m10w-1.x-row {
    z-index: 1;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    border: 0;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    font-size: 1em;
}

.m10w-1>.x-row-inner {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: calc(((1rem / 2) + 1px) * -1);
    margin-right: calc(((1rem / 2) + 1px) * -1);
    margin-bottom: calc(((1rem / 2) + 1px) * -1);
    margin-left: calc(((1rem / 2) + 1px) * -1);
}

.m10w-1>.x-row-inner>* {
    margin-top: calc(1rem / 2);
    margin-bottom: calc(1rem / 2);
    margin-right: calc(1rem / 2);
    margin-left: calc(1rem / 2);
}

.m10w-2.x-row {
    margin-bottom: 0px;
}

.m10w-2>.x-row-inner {
    align-items: stretch;
    align-content: stretch;
}

.m10w-2>.x-row-inner>*:nth-child(2n - 1) {
    flex-basis: calc(66.66% - 1rem);
}

.m10w-2>.x-row-inner>*:nth-child(2n - 0) {
    flex-basis: calc(33.33% - 1rem);
}

.m10w-3.x-row {
    margin-bottom: 18px;
}

.m10w-3>.x-row-inner {
    align-items: center;
    align-content: center;
}

.m10w-3>.x-row-inner>* {
    flex-grow: 1;
}

.m10w-3>.x-row-inner>*:nth-child(3n - 2) {
    flex-basis: calc(33.33% - 1rem);
}

.m10w-3>.x-row-inner>*:nth-child(3n - 1) {
    flex-basis: calc(33.33% - 1rem);
}

.m10w-3>.x-row-inner>*:nth-child(3n - 0) {
    flex-basis: calc(33.33% - 1rem);
}

.m10w-4.x-col {
    z-index: 1;
    border: 0;
    font-size: 1em;
}

.m10w-5.x-col {
    padding-top: 28px;
    padding-right: 28px;
    padding-bottom: 28px;
    padding-left: 28px;
}

.m10w-6.x-col {
    background-color: rgb(255, 255, 255);
}

.m10w-7.x-col {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
}

.m10w-9.x-text {
    margin-top: 0.2280000000000002em;
}

.m10w-a.x-text {
    margin-right: 0em;
    margin-bottom: 0.6819999999999999em;
    margin-left: 0em;
    border: 0;
    font-size: 1em;
}

.m10w-a.x-text .x-text-content-text-primary {
    font-family: inherit;
    font-size: 1.79em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0em;
    text-transform: none;
    color: rgb(0, 0, 0);
}

.m10w-b.x-text {
    margin-top: 1.721em;
}

.m10w-c.x-text {
    margin-top: 2.5em;
}

.m10w-e.x-anchor {
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    border-top-left-radius: 0.35em;
    border-top-right-radius: 0.35em;
    border-bottom-right-radius: 0.35em;
    border-bottom-left-radius: 0.35em;
    font-size: 1.23em;
}

.m10w-e.x-anchor .x-anchor-content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.575em;
    padding-right: 0.85em;
    padding-bottom: 0.575em;
    padding-left: 0.85em;
}

.m10w-e.x-anchor:hover,
.m10w-e.x-anchor[class*="active"],
[data-x-effect-provider*="colors"]:hover .m10w-e.x-anchor {
    background-color: rgba(255, 255, 255, 1);
}

.m10w-e.x-anchor .x-anchor-text {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.m10w-e.x-anchor .x-anchor-text-primary {
    font-family: inherit;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.m10w-f.x-anchor {
    border: 0;
    background-color: rgb(0, 35, 98);
    box-shadow: 0em 0.15em 0.65em 0em rgba(0, 0, 0, 0.25);
}

.m10w-f.x-anchor .x-anchor-text-primary {
    color: rgb(255, 255, 255);
}

.m10w-f.x-anchor:hover .x-anchor-text-primary,
.m10w-f.x-anchor[class*="active"] .x-anchor-text-primary,
[data-x-effect-provider*="colors"]:hover .m10w-f.x-anchor .x-anchor-text-primary {
    color: rgb(0, 0, 0);
}

.m10w-g.x-anchor {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(219, 219, 219);
    border-right-color: rgb(219, 219, 219);
    border-bottom-color: rgb(219, 219, 219);
    border-left-color: rgb(219, 219, 219);
    background-color: rgb(231, 230, 224);
    box-shadow: 0em 0.15em -0.15em 0em rgba(0, 0, 0, 0.25);
}

.m10w-g.x-anchor .x-anchor-text-primary {
    color: rgb(0, 0, 0);
}

.m10w-h.x-image {
    font-size: 1em;
    border: 0;
    background-color: transparent;
}

.m10w-i.x-image {
    max-width: 250px;
}

.m10w-j.x-image {
    margin-top: 15px;
    margin-bottom: 0px;
}

.m10w-k.x-image {
    margin-right: 0px;
    margin-left: 0px;
}

.m10w-l.x-image {
    max-width: 200px;
}

.m10w-m.x-image {
    margin-top: 30px;
    margin-bottom: 20px;
}

.m10w-n.x-image {
    max-width: 100px;
}

.m10w-o {
    width: 100%;
    max-width: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    border-top-width: 8px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(231, 230, 224);
    border-right-color: rgb(231, 230, 224);
    border-bottom-color: rgb(231, 230, 224);
    border-left-color: rgb(231, 230, 224);
    font-size: 1em;
}

@media screen and (max-width:766.98px) {
    .m10w-1>.x-row-inner>*:nth-child(2n - 1) {
        flex-basis: calc(50% - 1rem);
    }

    .m10w-1>.x-row-inner>*:nth-child(2n - 0) {
        flex-basis: calc(50% - 1rem);
    }
}

@media screen and (max-width:479.98px) {
    .m10w-1>.x-row-inner>*:nth-child(1n - 0) {
        flex-basis: calc(100% - 1rem);
    }
}
