a,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
#respond .required,
.x-pagination a:hover,
.x-pagination span.current,
.woocommerce-pagination a:hover,
.woocommerce-pagination span[aria-current],
.widget_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover,
.x-scroll-top:hover,
.x-comment-author a:hover,
.mejs-button button:hover {
    color: rgb(19, 21, 255);
}

a:hover {
    color: rgb(150, 167, 223);
}

a.x-img-thumbnail:hover,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.x-pagination a:hover,
.x-pagination span.current,
.woocommerce-pagination a:hover,
.woocommerce-pagination span[aria-current],
.widget_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover,
.x-scroll-top:hover {
    border-color: rgb(19, 21, 255);
}

.flex-direction-nav a,
.flex-control-nav a:hover,
.flex-control-nav a.flex-active,
.x-dropcap,
.x-skill-bar .bar,
.x-pricing-column.featured h2,
.x-portfolio-filters,
.x-entry-share .x-share:hover,
.widget_price_filter .ui-slider .ui-slider-range,
.mejs-time-current {
    background-color: rgb(19, 21, 255);
}

.x-portfolio-filters:hover {
    background-color: rgb(150, 167, 223);
}

.x-comment-author,
.x-comment-time,
.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-rating label,
.comment-form-comment label {
    font-family: "Lato", sans-serif;
}

.x-comment-time,
.entry-thumb:before,
.p-meta {
    color: rgb(0, 0, 0);
}

.entry-title a:hover,
.x-comment-author,
.x-comment-author a,
.comment-form-author label,
.comment-form-email label,
.comment-form-url label,
.comment-form-rating label,
.comment-form-comment label,
.x-accordion-heading .x-accordion-toggle,
.x-nav-tabs>li>a:hover,
.x-nav-tabs>.active>a,
.x-nav-tabs>.active>a:hover,
.mejs-button button {
    color: rgb(0, 35, 97);
}

.h-comments-title small,
.h-feature-headline span i,
.x-portfolio-filters-menu,
.mejs-time-loaded {
    background-color: rgb(0, 35, 97) !important;
}

@media (min-width:1200px) {
    .x-sidebar {
        width: 250px;
    }

    body.x-sidebar-content-active,
    body[class*="page-template-template-blank"].x-sidebar-content-active.x-blank-template-sidebar-active {
        padding-left: 250px;
    }

    body.x-content-sidebar-active,
    body[class*="page-template-template-blank"].x-content-sidebar-active.x-blank-template-sidebar-active {
        padding-right: 250px;
    }
}

html {
    font-size: 15px;
}

@media (min-width:480px) {
    html {
        font-size: 15px;
    }
}

@media (min-width:767px) {
    html {
        font-size: 15px;
    }
}

@media (min-width:979px) {
    html {
        font-size: 15px;
    }
}

@media (min-width:1200px) {
    html {
        font-size: 15px;
    }
}

body {
    font-style: normal;
    font-weight: 400;
    color: rgb(0, 0, 0);
    background: #f3f3f3 url(../../207.148.13.149/wp-content/uploads/2019/12/bg-integrity-1.html) center top repeat;
}

.w-b {
    font-weight: 400 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
}

h1,
.h1 {
    letter-spacing: -0.017em;
}

h2,
.h2 {
    letter-spacing: -0.023em;
}

h3,
.h3 {
    letter-spacing: -0.029em;
}

h4,
.h4 {
    letter-spacing: -0.039em;
}

h5,
.h5 {
    letter-spacing: -0.044em;
}

h6,
.h6 {
    letter-spacing: -0.067em;
}

.w-h {
    font-weight: 700 !important;
}

.x-container.width {
    width: 88%;
}

.x-container.max {
    max-width: 1200px;
}

.x-bar-content.x-container.width {
    flex-basis: 88%;
}

.x-main.full {
    float: none;
    display: block;
    width: auto;
}

@media (max-width:978.98px) {

    .x-main.full,
    .x-main.left,
    .x-main.right,
    .x-sidebar.left,
    .x-sidebar.right {
        float: none;
        display: block;
        width: auto !important;
    }
}

.entry-header,
.entry-content {
    font-size: 1rem;
}

body,
input,
button,
select,
textarea {
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a,
blockquote {
    color: rgb(0, 35, 97);
}

.cfc-h-tx {
    color: rgb(0, 35, 97) !important;
}

.cfc-h-bd {
    border-color: rgb(0, 35, 97) !important;
}

.cfc-h-bg {
    background-color: rgb(0, 35, 97) !important;
}

.cfc-b-tx {
    color: rgb(0, 0, 0) !important;
}

.cfc-b-bd {
    border-color: rgb(0, 0, 0) !important;
}

.cfc-b-bg {
    background-color: rgb(0, 0, 0) !important;
}

.x-btn,
.button,
[type="submit"] {
    color: #fff;
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 34, 97);
    margin-bottom: 0.25em;
    text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.25em 0 0 rgb(0, 0, 0), 0 4px 9px rgba(0, 0, 0, 0.75);
    border-radius: 0.25em;
}

.x-btn:hover,
.button:hover,
[type="submit"]:hover {
    color: rgb(255, 255, 255);
    border-color: rgb(57, 56, 48);
    background-color: rgb(231, 230, 224);
    margin-bottom: 0.25em;
    text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.25em 0 0 rgb(147, 143, 120), 0 4px 9px rgba(0, 0, 0, 0.75);
}

.x-btn.x-btn-real,
.x-btn.x-btn-real:hover {
    margin-bottom: 0.25em;
    text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.65);
}

.x-btn.x-btn-real {
    box-shadow: 0 0.25em 0 0 rgb(0, 0, 0), 0 4px 9px rgba(0, 0, 0, 0.75);
}

.x-btn.x-btn-real:hover {
    box-shadow: 0 0.25em 0 0 rgb(147, 143, 120), 0 4px 9px rgba(0, 0, 0, 0.75);
}

.x-btn.x-btn-flat,
.x-btn.x-btn-flat:hover {
    margin-bottom: 0;
    text-shadow: 0 0.075em 0.075em rgba(0, 0, 0, 0.65);
    box-shadow: none;
}

.x-btn.x-btn-transparent,
.x-btn.x-btn-transparent:hover {
    margin-bottom: 0;
    border-width: 3px;
    text-shadow: none;
    text-transform: uppercase;
    background-color: transparent;
    box-shadow: none;
}

.h-widget:before,
.x-flickr-widget .h-widget:before,
.x-dribbble-widget .h-widget:before {
    position: relative;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    speak: none;
}

.h-widget:before {
    padding-right: 0.4em;
    font-family: "fontawesome";
}

.x-flickr-widget .h-widget:before,
.x-dribbble-widget .h-widget:before {
    top: 0.025em;
    padding-right: 0.35em;
    font-family: "foundationsocial";
    font-size: 0.785em;
}

.widget_archive .h-widget:before {
    content: "\f303";
    top: -0.045em;
    font-size: 0.925em;
}

.widget_calendar .h-widget:before {
    content: "\f073";
    top: -0.0825em;
    font-size: 0.85em;
}

.widget_categories .h-widget:before,
.widget_product_categories .h-widget:before {
    content: "\f02e";
    font-size: 0.95em;
}

.widget_nav_menu .h-widget:before,
.widget_layered_nav .h-widget:before {
    content: "\f0c9";
}

.widget_meta .h-widget:before {
    content: "\f0fe";
    top: -0.065em;
    font-size: 0.895em;
}

.widget_pages .h-widget:before {
    font-family: "FontAwesomeRegular";
    content: "\f15c";
    top: -0.065em;
    font-size: 0.85em;
}

.widget_recent_reviews .h-widget:before,
.widget_recent_comments .h-widget:before {
    content: "\f086";
    top: -0.065em;
    font-size: 0.895em;
}

.widget_recent_entries .h-widget:before {
    content: "\f02d";
    top: -0.045em;
    font-size: 0.875em;
}

.widget_rss .h-widget:before {
    content: "\f09e";
    padding-right: 0.2em;
}

.widget_search .h-widget:before,
.widget_product_search .h-widget:before {
    content: "\f0a4";
    top: -0.075em;
    font-size: 0.85em;
}

.widget_tag_cloud .h-widget:before,
.widget_product_tag_cloud .h-widget:before {
    content: "\f02c";
    font-size: 0.925em;
}

.widget_text .h-widget:before {
    content: "\f054";
    padding-right: 0.4em;
    font-size: 0.925em;
}

.x-dribbble-widget .h-widget:before {
    content: "\f009";
}

.x-flickr-widget .h-widget:before {
    content: "\f010";
    padding-right: 0.35em;
}

.widget_best_sellers .h-widget:before {
    content: "\f091";
    top: -0.0975em;
    font-size: 0.815em;
}

.widget_shopping_cart .h-widget:before {
    content: "\f07a";
    top: -0.05em;
    font-size: 0.945em;
}

.widget_products .h-widget:before {
    content: "\f0f2";
    top: -0.05em;
    font-size: 0.945em;
}

.widget_featured_products .h-widget:before {
    content: "\f0a3";
}

.widget_layered_nav_filters .h-widget:before {
    content: "\f046";
    top: 1px;
}

.widget_onsale .h-widget:before {
    content: "\f02b";
    font-size: 0.925em;
}

.widget_price_filter .h-widget:before {
    content: "\f0d6";
    font-size: 1.025em;
}

.widget_random_products .h-widget:before {
    content: "\f074";
    font-size: 0.925em;
}

.widget_recently_viewed_products .h-widget:before {
    content: "\f06e";
}

.widget_recent_products .h-widget:before {
    content: "\f08d";
    top: -0.035em;
    font-size: 0.9em;
}

.widget_top_rated_products .h-widget:before {
    content: "\f075";
    top: -0.145em;
    font-size: 0.885em;
}

.x-navbar .desktop .x-nav>li>a,
.x-navbar .desktop .sub-menu a,
.x-navbar .mobile .x-nav li a {
    color: rgb(0, 0, 0);
}

.x-navbar .desktop .x-nav>li>a:hover,
.x-navbar .desktop .x-nav>.x-active>a,
.x-navbar .desktop .x-nav>.current-menu-item>a,
.x-navbar .desktop .sub-menu a:hover,
.x-navbar .desktop .sub-menu .x-active>a,
.x-navbar .desktop .sub-menu .current-menu-item>a,
.x-navbar .desktop .x-nav .x-megamenu>.sub-menu>li>a,
.x-navbar .mobile .x-nav li>a:hover,
.x-navbar .mobile .x-nav .x-active>a,
.x-navbar .mobile .x-nav .current-menu-item>a {
    color: rgb(0, 34, 97);
}

.x-navbar .desktop .x-nav>li>a {
    height: 90px;
    padding-top: 37px;
}

.x-navbar-fixed-top-active .x-navbar-wrap {
    margin-bottom: 1px;
}

.x-navbar .desktop .x-nav>li ul {
    top: 90px;
}

@media (min-width:1200px) {

    body.x-sidebar-content-active .x-widgetbar,
    body.x-sidebar-content-active .x-navbar-fixed-top,
    body[class*="page-template-template-blank"].x-sidebar-content-active.x-blank-template-sidebar-active .x-widgetbar,
    body[class*="page-template-template-blank"].x-sidebar-content-active.x-blank-template-sidebar-active .x-navbar-fixed-top {
        left: 250px;
    }

    body.x-content-sidebar-active .x-widgetbar,
    body.x-content-sidebar-active .x-navbar-fixed-top,
    body[class*="page-template-template-blank"].x-content-sidebar-active.x-blank-template-sidebar-active .x-widgetbar,
    body[class*="page-template-template-blank"].x-content-sidebar-active.x-blank-template-sidebar-active .x-navbar-fixed-top {
        right: 250px;
    }
}

@media (max-width:979px) {
    .x-navbar-fixed-top-active .x-navbar-wrap {
        margin-bottom: 0;
    }
}

body.x-navbar-fixed-top-active .x-navbar-wrap {
    height: 90px;
}

.x-navbar-inner {
    min-height: 90px;
}

.x-brand {
    margin-top: 7px;
    font-family: "Lato", sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.079em;
    text-transform: uppercase;
    color: #272727;
}

.x-brand:hover,
.x-brand:focus {
    color: #272727;
}

.x-brand img {
    width: calc(400px / 2);
}

.x-navbar .x-nav-wrap .x-nav>li>a {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.x-navbar .desktop .x-nav>li>a {
    font-size: 14px;
}

.x-navbar .desktop .x-nav>li>a:not(.x-btn-navbar-woocommerce) {
    padding-left: 16px;
    padding-right: 16px;
}

.x-navbar .desktop .x-nav>li>a>span {
    padding-right: calc(1.25em - 0.1em);
}

.x-btn-navbar {
    margin-top: 35px;
}

.x-btn-navbar,
.x-btn-navbar.collapsed {
    font-size: 25px;
}

@media (max-width:979px) {
    body.x-navbar-fixed-top-active .x-navbar-wrap {
        height: auto;
    }

    .x-widgetbar {
        left: 0;
        right: 0;
    }
}

@font-face {
    font-family: 'FontAwesomePro';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-solid-900.woff2') format('woff2'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-solid-900.woff') format('woff'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-solid-900.ttf') format('truetype');
}

[data-x-fa-pro-icon] {
    font-family: "FontAwesomePro" !important;
}

[data-x-fa-pro-icon]:before {
    content: attr(data-x-fa-pro-icon);
}

[data-x-icon],
[data-x-icon-o],
[data-x-icon-l],
[data-x-icon-s],
[data-x-icon-b],
[data-x-fa-pro-icon],
[class*="cs-fa-"] {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-x-icon].left,
[data-x-icon-o].left,
[data-x-icon-l].left,
[data-x-icon-s].left,
[data-x-icon-b].left,
[data-x-fa-pro-icon].left,
[class*="cs-fa-"].left {
    margin-right: 0.5em;
}

[data-x-icon].right,
[data-x-icon-o].right,
[data-x-icon-l].right,
[data-x-icon-s].right,
[data-x-icon-b].right,
[data-x-fa-pro-icon].right,
[class*="cs-fa-"].right {
    margin-left: 0.5em;
}

[data-x-icon]:before,
[data-x-icon-o]:before,
[data-x-icon-l]:before,
[data-x-icon-s]:before,
[data-x-icon-b]:before,
[data-x-fa-pro-icon]:before,
[class*="cs-fa-"]:before {
    line-height: 1;
}

@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-solid-900.woff2') format('woff2'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-solid-900.woff') format('woff'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-solid-900.ttf') format('truetype');
}

[data-x-icon],
[data-x-icon-s],
[data-x-icon][class*="cs-fa-"] {
    font-family: "FontAwesome" !important;
    font-weight: 900;
}

[data-x-icon]:before,
[data-x-icon][class*="cs-fa-"]:before {
    content: attr(data-x-icon);
}

[data-x-icon-s]:before {
    content: attr(data-x-icon-s);
}

@font-face {
    font-family: 'FontAwesomeRegular';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-regular-400.woff2') format('woff2'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-regular-400.woff') format('woff'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-regular-400.ttf') format('truetype');
}

@font-face {
    font-family: 'FontAwesomePro';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-regular-400.woff2') format('woff2'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-regular-400.woff') format('woff'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-regular-400.ttf') format('truetype');
}

[data-x-icon-o] {
    font-family: "FontAwesomeRegular" !important;
}

[data-x-icon-o]:before {
    content: attr(data-x-icon-o);
}

@font-face {
    font-family: 'FontAwesomeLight';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-light-300.woff2') format('woff2'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-light-300.woff') format('woff'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-light-300.ttf') format('truetype');
}

@font-face {
    font-family: 'FontAwesomePro';
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-light-300.woff2') format('woff2'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-light-300.woff') format('woff'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-light-300.ttf') format('truetype');
}

[data-x-icon-l] {
    font-family: "FontAwesomeLight" !important;
    font-weight: 300;
}

[data-x-icon-l]:before {
    content: attr(data-x-icon-l);
}

@font-face {
    font-family: 'FontAwesomeBrands';
    font-style: normal;
    font-weight: normal;
    font-display: block;
    src: url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-brands-400.woff2') format('woff2'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-brands-400.woff') format('woff'), url('https://controlledlighting.net/wp-content/plugins/cornerstone/assets/fonts/fa-brands-400.ttf') format('truetype');
}

[data-x-icon-b] {
    font-family: "FontAwesomeBrands" !important;
}

[data-x-icon-b]:before {
    content: attr(data-x-icon-b);
}

.m7i-0.x-section {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border: 0;
    padding-top: 45px;
    padding-right: 0px;
    padding-bottom: 45px;
    padding-left: 0px;
    z-index: 1;
}

.m7i-1.x-row {
    z-index: 1;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    border: 0;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    font-size: 1em;
}

.m7i-1>.x-row-inner {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: calc(((1rem / 2) + 1px) * -1);
    margin-right: calc(((1rem / 2) + 1px) * -1);
    margin-bottom: calc(((1rem / 2) + 1px) * -1);
    margin-left: calc(((1rem / 2) + 1px) * -1);
}

.m7i-1>.x-row-inner>* {
    margin-top: calc(1rem / 2);
    margin-bottom: calc(1rem / 2);
    margin-right: calc(1rem / 2);
    margin-left: calc(1rem / 2);
}

.m7i-1>.x-row-inner>*:nth-child(2n - 1) {
    flex-basis: calc(66.66% - 1rem);
}

.m7i-1>.x-row-inner>*:nth-child(2n - 0) {
    flex-basis: calc(33.33% - 1rem);
}

.m7i-2.x-col {
    z-index: 1;
    border: 0;
    font-size: 1em;
}

.m7i-3.x-col {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.m7i-5.x-text {
    margin-top: 0em;
    margin-right: 0em;
    margin-bottom: 1.3970000000000002em;
    margin-left: 0em;
    border: 0;
    font-size: 1em;
}

.m7i-5.x-text .x-text-content-text-primary {
    font-family: inherit;
    font-size: 1.79em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0em;
    text-transform: none;
    color: rgb(0, 35, 98);
}

@media screen and (max-width:766.98px) {
    .m7i-1>.x-row-inner>*:nth-child(1n - 0) {
        flex-basis: calc(100% - 1rem);
    }
}